.right-first {
    text-align:center;
    margin-left: 50px;
    color: lightcoral;
}


h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(68, 190, 52);
    
}



.fit{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgba(214, 34, 34, 0.616);
}
body{
    background-color: rgba(186, 214, 23, 0.425);

}


p.wrap{
   width: 22em;
    word-wrap:normal
}